 *{
 	box-sizing: border-box;
 }


 html, body {
            height: 100%;
            margin: 0;
            padding: 0;
             color: #F8F8F8;
              z-index: 1;
              overflow: hidden;

        }
        #container{
        	 background: rgba(0, 10, 0, 0.7);
        	 bottom: 0;
        	 height: 100%;
        	
        }
        .video-wrap{
        	position: absolute;
        	min-width: 100%;
        	min-height: 100%;
        	z-index: -1;       }
        .video-wrap video{
        	min-width: 100%;
        	min-height: 100%;
        }
        .contentdiv{
        	position: absolute;
        	top: 0;
        	left: 0;
        	height: 100%;
        }
       
        .btn{
        	background-color: #73BA37;
			height: 50px;
			border: 1px solid green;
			border-radius: 0px 10px 10px 0px;
		    text-align: center;
		    color: white;
		    font-weight: bold;
        }

ul{
	  background-color: #003925;
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
}
li{
	float: left;
}
li a{
	display: block;
	color: #72AB97;
	text-decoration: none;
	padding: 14px 18px;
}
input{
	background-color: black;
	opacity: 0.4;
	height: 50px;
	width: 300px;
	text-align: center;
	border: 1px solid green;
	border-radius: 10px 0px 0px 10px;
	color: white;
}
#logoDiv{
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#logo{
	margin-left: auto;
	margin-right: auto;
}
#writeUpDiv{
	text-align: center;
	margin-top:5px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;


}

	
#countDownDiv{
	
	text-align: center;
	margin-top:5px;
	
	margin-left: auto;
	margin-right: auto;
	
	font-family: courier;
	font-weight: bold;
	font-size: 3.2em;
	color: white;

}
table{
	
	text-align: center;
	

}
#notifyDiv{
	text-align: center;
	margin-top:5px;
	
	margin-left: auto;
	margin-right: auto;


}

#footer {
	color: #72AB97;
	margin:2px solid #72AB97; 
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #003925;
  text-align: center;
}
#siteName{
	color: #73BA37;

}

